torch
torchvision
sentencepiece
opencv-python
transformers
accelerate>=0.26.0
einops
trimesh
matplotlib
scipy
roma
hydra-core
iopath
numpy<2.0.0
scikit-learn
pillow-heif
gradio
tqdm
tensorboard
pyglet<2
huggingface-hub[torch]>=0.22
ultralytics
